<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/about.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<meta name=“viewport” content=“width=device-width, initial-scale=1”>
  	<title>914有意思工作室</title>
  	<link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/about.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">
          <button type="button" class="navbar-toggle hambugar" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html" class="navbarli">HOME</a></li>
              <li class="Now"><a href="about.html" class="navbarli">ABOUT</a></li>
              <li class="active"><a href="product.html" class="navbarli">PRODUCT</a></li>
              <li class="active"><a href="contact.html" class="navbarli">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row" id="contact">
        <h2>ABOUT</h2>
      </div>
      <div class="row line"></div>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 pic">
          <img src="img/Logo.png" alt="914" />
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 ">
          <div class="text">
            <h2>914有意思工作室創立於2015年我們提供設計，也販售設計</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text2">
          <h3>OUR STORY</h3>
          <p>During a few months ago, our founder of 914, faced the tides of influences around her, and  found herself driven by the thirst and ambition to make a difference. Thus, in the year 2015, 914 Design took its first step into the world with no far-fetched dreams or impractical ideals but only the stubborn insistence on transformation. Design is our profession and passion. Through communication and collaboration, we deliver the best visual solution to our clients.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 more">
          <p>We believe that only through constant change may greater ideas be triggered. Each unique project deserves its own design language, and thus conventional design solutions never meet our high expectations. We set these high standards because we insist that the outcome should be better and more valuable.</p>
          <p>At 914 Design, we analyze the problem of every project and provide our clients with the best strategy using our professional design workflow. We specialize in many fields of design including Branding, Packaging, Postcard Design and Advertising & Marketing. However, we face all design challenges with the same determination to make a difference.</p>
          <p>Our clients come from all industries, ranging from construction, electronics, to fashion, education and art. We rely on integrative thinking to provide each client of each trade with the most suitable advice and services. </p>
        </div>
        <p class="read"> >Read more</p>
        <p class="noRead">^</p>
      </div>
      <h3>MEMBERS</h3>
      <div class="row member">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="img/member4.png" alt="boss" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <h3>老闆</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="img/member3.png" alt="" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <h3>公關</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="img/member1.png" alt="boss" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <h3>文編</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="img/member5.png" alt="boss" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <h3>行政</h3>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <img src="img/member2.png" alt="boss" />
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <h3>設計師</h3>
        </div>

      </div>
    </div>

  </body>
</html>
