<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<meta name=“viewport” content=“width=device-width, initial-scale=1”>
  	<title>914有意思工作室</title>
  	<link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/contact.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">
          <button type="button" class="navbar-toggle hambugar" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index" class="navbarli">HOME</a></li>
              <li class="active"><a href="about" class="navbarli">ABOUT</a></li>
              <li class="active"><a href="product" class="navbarli">PRODUCT</a></li>
              <li class="Now"><a href="contact" class="navbarli">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row" id="contact">
        <h2>CONTACT</h2>
      </div>
      <div class="row line"></div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 pic">
          <img src="img/Logo.png" alt="914" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
          <div class="text">
            <a target="_blank" href="https://www.facebook.com/914Design/"><img src="img/fs-facebook_3.png" alt="Facebook" /></a>
            <p><span class="glyphicon glyphicon-earphone"></span> 02-54914914</p>
            <p><span class="glyphicon glyphicon-envelope"></span>  914design@gmail.com</p>
            <p><span class="glyphicon glyphicon-home"></span> 台北市大安區和平東路二段914號</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
