<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta name=“viewport” content=“width=device-width, initial-scale=1”>
	<title>914有意思工作室</title>
	<link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/home.css">
	<link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<body class="X">
	<div class="containner">
		<div class="Y" id="news">
				<a target="_blank" href="https://www.facebook.com/pages/%E6%9D%BE%E5%B1%B1%E6%96%87%E5%89%B5%E5%9C%92%E5%8D%80-%E5%8E%9F%E5%89%B5%E5%9F%BA%E5%9C%B0%E7%AF%80/301059890012952">
					<div class="row n1"></div>
				</a>
			<div class="row n2">
				<a target="_blank" href="http://www.tpdc2015.tw/#exhibition01"><div class="row n2"></div></a>
			</div>
		</div>
	</div>
	<div class="container" id="main">
      <div class="row">
        <div class="center text-center">
          <p>914</p>
          <p>有意思工作室<span>|</span></p>
        </div>
      </div>
    </div>
  </section>
  <nav class="navbar navbar-inverse navbar-fixed-bottom nav1">
    <div class="container">
      <div class="row">
          <ul class="nav navbar-nav col-sm-12 col-md-12 col-lg-12">
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="#" class="navbarli news">NEWS</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="about.html" class="navbarli">ABOUT</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="product.html" class="navbarli">PRODUCT</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="contact.html" class="navbarli">CONTACT</a></li>
          </ul>
      </div>
    </div>
  </nav>
	<nav class="navbar navbar-inverse navbar-fixed-top nav2">
    <div class="container">
      <div class="row">
          <ul class="nav navbar-nav col-sm-12 col-md-12 col-lg-12">
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="#" class="navbarli home">HOME</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="about.html" class="navbarli">ABOUT</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="product.html" class="navbarli">PRODUCT</a></li>
            <li class="col-sm-3 col-md-3 col-lg-3"><a href="contact.html" class="navbarli">CONTACT</a></li>
          </ul>
      </div>
    </div>
  </nav>


	</div>
</body>
</html>
