<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<meta name=“viewport” content=“width=device-width, initial-scale=1”>
  	<title>914有意思工作室</title>
  	<link rel="shortcut icon" href="img/Logo.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/product.css">
    <link rel=“stylesheet” href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="row">
          <button type="button" class="navbar-toggle hambugar" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index" class="navbarli">HOME</a></li>
              <li class="active"><a href="about" class="navbarli">ABOUT</a></li>
              <li class="Now"><a href="product" class="navbarli">PRODUCT</a></li>
              <li class="active"><a href="contact" class="navbarli">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row" id="contact">
        <h2>PRODUCT</h2>
      </div>
      	<div class="row line"></div>
      	<div id="ptab">
      		<ul class="tabs">
      			<li><a href="#tab1">名片</a></li>
      			<li><a href="#tab2">文創帆布袋</a></li>
      			<li><a href="#tab3">杯子</a></li>
      			<li><a href="#tab4">其他文創商品</a></li>
      		</ul>

      		<div class="tab_container">
			<div id="tab1" class="tab_content">
				  <div class="row">

              <h5>特殊名片設計（定價：700元 / 250張）</h5>
              <p>一張好的名片，可以為你帶來錢財與收入，一張制式的名片，卻只會讓你流於俗，與同業相比並無無脫穎之處。你還在使用毫無新意的名片嗎？就讓我們為你設計出獨一無二，完全適合個人形象的名片吧！</p>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/138554629873.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/bang-1.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/1-1202110S15R27.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/1__BERTHAMA_stationery-500x363-thumb.jpg" alt="914" />
        			</div>
          </div>
          <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/backdroundd.jpg" alt="914" />
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/postcard.jpg" alt="914" />
              </div>
          </div>
       </div>
			<div id="tab2" class="tab_content"><!--帆布袋-->
				<div class="row">
            <h5>文字系列提袋（定價：160元）</h5>
              <p>每一個文字的挑選，都符合了時下年輕男女的情緒與心聲，我們以白色帆布作為基底，打造出文青風貌，讓每個提著此系列提袋的年輕人們，飄揚出書香與藝術氣息。</p>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/50 0x 0.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/50 0x0.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/540x0.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/50x0.jpg" alt="914" />
        			</div>
        </div><br>
        <div class="row">
            <h5>設計系列提袋（定價：180元）</h5>
              <p>由專業的設計師，引領潮流，設計出具有美感與流行趨勢的手提系列，不讓圖案被刻板的流線或形狀限制，而是打破框架，帶給顧客群不一樣的視覺享受與尊榮。</p>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/800x0.jpg" alt="914" />
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/big_201307161545384595.jpg" alt="914" />
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/500x0.jpg" alt="914" />
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/p092783498302-item-3901xf3x1000x1000-m.jpg" alt="914" />
              </div>
        </div>
			</div>
			<div id="tab3" class="tab_content"><!--杯子-->
				<div class="row">
            <h5>杯子系列（定價：90元）</h5>
            <p>工作、學習、休閒，任何時機都會使用馬克杯引用茶水，若能連小小的飲用水杯，都充滿設計感，將使生活品質更為提升，心情舒暢，辦事效率雙倍，好的設計能讓生活更美好，值得您用心為桌面上的杯子，細細挑選。</p>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/product2.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/fujiwara_sb_mug_20141216133600_00.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/140926-04-05.png" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/2014091564224397.jpg" alt="914" />
        			</div>
        </div>
        <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/Tigere-Chiriga4.jpg" alt="914" />
              </div>
        </div>
			</div>
			<div id="tab4" class="tab_content">
				<div class="row">
          <h5>文創系列（定價依不同設計而定）</h5>
            <p>生活中，需要許多商品來增添色彩，而文創，正式可增添色彩又實用之物，不像一般畫作般無用僅能欣賞，又不同於花瓶古董般高貴不可攀，文創商品能夠貼近生活、貼近人心，且價格平易近人，連年輕人都能輕鬆為自己選擇生活所要的質感與美感。</p>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/762816.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/20131128_5297bacc3f167.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/1445405567.jpg" alt="914" />
        			</div>
        			<div class="col-sm-6 col-md-3 col-lg-3 pic">
         				 <img src="img/1434356292.jpg" alt="914" />
        			</div>
			 </div>
       <div class="row">
              <div class="col-sm-6 col-md-3 col-lg-3 pic">
                 <img src="img/creation.jpg" alt="914" />
              </div>
       </div>
		  </div>




  </body>
</html>
