<h1>輸入留言</h1>
<div class='name'>暱稱：</div> <input type="text"  id="account" name="account"><br />
<div class='name'>E-Mail :</div> <input type="text"  id="mail" name="mail"><br /> 
<div class="name"></div><input id="comment" name="comment">
<button class="btn-post">Submit</button>
