<h1>檢視完整資料</h1>
<div>
    <span class="name">暱稱：</span>
    <span><%= userinfo['account'] %></span>
</div>
<div>
    <span class="name">E-Mail：</span>
    <span><%= userinfo['mail'] %></span>
</div>
<div>
    <span class="name">說：</span>
    <span><%= userinfo['comment'] %></span>
</div>