<h1>編輯留言</h1>
<div class="name">Name :</div><input type="text" placeholder="<%= userinfo['account'] %>" id="account0" name="account0"><br/>
<div class="name">E-Mail :</div><input type="text" placeholder="<%= userinfo['mail'] %>" id="mail0" name="mail0"><br/>
<div class="name"></div><input placeholder="<%= userinfo['comment'] %>" id="comment0" name="comment0">
<button class="btn-update" name=<%= userinfo['_id']%>>更新</button>